<div class="overflow-wrapper">
  <div >
    <div>
      <h2>basic example</h2>
      <div class="chart-container">
        <ngx-date-bar-chart
          [colors]="['navy', 'dodgerblue']"
          [data]="basicData"
          [legendLabels]="['this is some data']"
          [xAxisLabel]="'dates'"
          [yAxisLabel]="'values'"
          [yMin]="0"
          [barSpacingPercentage]="0.1"
        ></ngx-date-bar-chart>
      </div>
    </div>

    <div>
      <h2>basic series example</h2>
      <div class="chart-container">
        <ngx-date-bar-chart
          [colors]="['navy', 'dodgerblue', '#333']"
          [data]="basicSeriesData"
          [legendLabels]="['this is some data but as a series']"
          [xAxisLabel]="'dates'"
          [yAxisLabel]="'values'"
          [yMin]="0"
          [barSeriesInnersSpacing]="0.15"
        ></ngx-date-bar-chart>
      </div>
    </div>

    <div>
      <h2>basic stacked series example</h2>
      <div class="chart-container">
        <ngx-date-bar-chart
                [colors]="['navy', 'dodgerblue', '#333']"
                [data]="basicSeriesData"
                [legendLabels]="['this is some data but as a stacked series']"
                [xAxisLabel]="'dates'"
                [yAxisLabel]="'values'"
                [stacked]="true"
                [rounded]="false"
                [yMin]="0"
                [barSeriesInnersSpacing]="0.15"
        ></ngx-date-bar-chart>
      </div>
    </div>
  </div>
</div>
