<div class="overflow-wrapper">
  <div>
    <p class="intro">
      This shows basic examples for different chart types and various
      configurations. Change the size of your viewport to see the resizing in
      action. If you need to manually resize, see the corresponding ts code to
      the component via ViewChildren.
    </p>
    <div>
      <h2>1. Basic Chart</h2>
      <div class="chart-container">
        <ngx-date-bar-chart
          [colors]="['navy', 'dodgerblue']"
          [data]="basicData"
          [legendLabels]="['this is some data']"
          [xAxisLabel]="'dates'"
          [yAxisLabel]="'values'"
          [yMin]="0"
          [barSpacingPercentage]="0.1"
        ></ngx-date-bar-chart>
      </div>
    </div>

    <div>
      <h2>1.1 Basic Chart</h2>
      <p>
        This is the same chart as above, but uses the custom drawing function to
        draw a line that goes exactly from the top let corner to the x and
        y-coordinates of the charts value in the middle. To see, what you can do
        with this powerful function, check out the customDrawing function in
        app.component.ts :)
      </p>
      <div class="chart-container">
        <ngx-date-bar-chart
          [colors]="['navy', 'dodgerblue']"
          [data]="basicData"
          [legendLabels]="['this is some data']"
          [xAxisLabel]="'dates'"
          [yAxisLabel]="'values'"
          [yMin]="0"
          [barSpacingPercentage]="0.1"
          [customDrawing]="customDrawing"
        ></ngx-date-bar-chart>
      </div>
    </div>

    <div>
      <h2>2. Basic Series - out of the box</h2>
      <div class="chart-container">
        <ngx-date-bar-chart
          [colors]="['navy', 'dodgerblue', '#333']"
          [data]="basicSeriesData"
          [legendLabels]="['this is some data but as a series']"
          [xAxisLabel]="'dates'"
          [yAxisLabel]="'values'"
          [barSeriesInnersSpacing]="0.15"
        ></ngx-date-bar-chart>
      </div>
    </div>

    <div>
      <h2>2.1 Same data but using more customization</h2>
      <div class="chart-container">
        <ngx-date-bar-chart
          [colors]="['navy', 'dodgerblue', '#333']"
          [data]="basicSeriesData"
          [fontSizeTicks]="'10px'"
          [barRadiusFunction]="barRadiusFunction"
          [formatDateFunction]="formatDate"
          [yAxisWidth]="50"
          [xAxisHeight]="65"
          [legendLabels]="['data row 1', 'data row 2', 'data row 3']"
          [legendPosition]="LegendPosition.TOP_RIGHT"
          [xAxisLabel]="'dates'"
          [yAxisLabel]="'values'"
          [yMin]="0"
          [yMax]="140"
          [barSpacingPercentage]="0.3"
          [barSeriesInnersSpacing]="0.05"
        ></ngx-date-bar-chart>
      </div>
    </div>

    <div>
      <h2>3. Basic Stacked Series</h2>
      <div class="chart-container">
        <ngx-date-bar-chart
          [colors]="['navy', 'dodgerblue', '#333']"
          [data]="basicSeriesData"
          [legendLabels]="['this is some data but as a stacked series']"
          [xAxisLabel]="'dates'"
          [yAxisLabel]="'values'"
          [stacked]="true"
          [yMin]="0"
          [barSeriesInnersSpacing]="0.15"
        ></ngx-date-bar-chart>
      </div>
    </div>
  </div>
</div>
